body {
    font-family: Arial;
    background-color: #f2f7f2;
    margin: 0;
    padding: 20px;
 background-color: #CEFFA3;
}

.container {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #2e7d32;
    text-align: center;
}

.immagine {
    width: 100%;           
    display: block;       
    margin: 15px auto;    
    border-radius: 10px;  
}
.immagine-lato {
  width: 30%;
  display: block;
  margin: 1px auto;
  border-radius: 1px;
}

p {
    line-height: 1.6;
}

ul {
    margin-top: 10px;
}

.bottone {
    display: block;
    text-align: center;
    background-color: #2e7d32;
    color: white;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 8px;
}